name: CI

on:
  push:
    branches: 
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup Node.js environment
      uses: actions/setup-node@v2-beta
      with:
        node-version: '12.x'
        registry-url: 'https://registry.npmjs.org'
    - name: Cache npm dependencies
      uses: actions/cache@v1
      with:
        path: ~/.npm
        key: ${{ runner.OS }}-npm-cache-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.OS }}-npm-cache-
    - name: Install npm dependencies
      run: yarn
    - name: Run tests
      run: yarn test:ci
